*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Kumbh Sans', sans-serif;
    
}

body{
   
    background-size: cover;
    background-repeat: no-repeat;
    

     position: relative;
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top: 0;
    z-index: 999;
    opacity: 0.8;
    
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}
#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    front-size: 2rem;
    
    
 
    

}



.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__item{
    height: 80px;
    
}
.navbar__links{
color:white;
display:flex;
align-items:center;
text-decoration: none;
padding: 0 5rem;
height: 100%;

}

.navbar__links:hover{
    color:rgb(255, 0, 34);
    transition:all 0.3s ease;
}
.box{
    
    width:500px;
}

.photos img{

margin:40px;
width:500px;
height: 650px;
border:2px solid #000;
border-radius:10px;
padding: 0;
}
.box .tekst{
color:rgb(255, 255, 255);
position: relative;
left:100px;
top:180px;
text-decoration: none;



}
.xob{
    width:350;
    display:flex;
    flex-direction: row;
}
.photsos img {
margin:10px;
padding: 0;
width:350px;
height:350px;

}
   

.xob .nesto h2{
    position: relative;
    left:270px;
    top:50px;
    text-decoration: none;
    color:rgb(211, 70, 70);
    
    
}
.xob .nesto h3{
    position: relative;
    left:80px;
    top:50px;
    text-decoration: none;
    
}
.xob .nesto h5{
width: 500px;
position: relative;
top :100px;
left:80px;
font-size: 15px;
line-height: 1.55;
}


*{
	margin: 0;
	padding: 0;
	font-family: "montserrat" , sans-serif;

}
.contact-section{
	background: url(fotot/id.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 0;

}
.contact-section h1{
	text-align: center;
	color: #ddd;

}
.border{
	width: 100px;
	height: 10px;
	background: #030003;
	margin: 40px auto;
}
.contact-form{
	max-width:600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;

}
.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #640d0f;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;

}
.contact-form-text:focus{
box-shadow: 0 0 10px 4px #34495e;
}

text.contact-form-text{
	resize: none;
	height: 120px;
}
.contact-form-btn{
	float:right;
	border: 0;
	background: #200202;
	color: #ddd;
	padding: 12px 50px;
	border-radius: 20px;
	transition: 0.5s;

}

.contact-form-btn:hover{
	background: #200202;
}
.ro img{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 0;
    
    padding-left : 20px;
    padding-right: 25px;
    width: 350px;
    height: 250px;
    top: 150px;
    
    
}


.row .ktogjasht {
  
    display:flex;
flex-direction: row;

}

.nesto {
   
    color:rgb(49, 34, 34);
    
}
.class{
    text-decoration: none;
}
.fotot4{
    margin:40px;
   
    
  }
 .dyfotottjera h3{
     width:300px;
     position: relative;
     left:50px;
     bottom:50px;
     text-decoration: none;
     color:rgb(24, 23, 23);
     
 }
 .fotot2 h3{
    width:300px;
    position: relative;
    left:50px;
    bottom:50px;
    text-decoration: none;
    color:rgb(37, 36, 36);
}
.artikuj h3{
color:rgb(255, 251, 242);
font-weight: 700;
font-size: 20px;
padding:20px 0px 15px 20px;
text-transform: uppercase;
background:#000;
border-left:5px solid red;
text-align: center;
}
.hju.xob{
    padding:150px;
}
.tonat{
    
    padding:0 200px 0 200px;
    margin-top:0 ;
}
.artikuj{
    padding:0 20px 20px 20px ;
    
     
}
.fotot2{
    display: flex;
    flex-direction: row;
    
  
}
.dyfotottjera{
    display: flex;
    flex-direction: row;
   
}
.po img{
    
        margin-top: 0;
        margin-bottom: 50px;
        margin-right: 70px;
        margin-left: 0;
        
        padding-left : 20px;
        padding-right: 25px;
        width: 350px;
        height: 250px;
        top: 150px;
        
        
    
}