* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Copperplate, Papyrus, fantasy;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.navbar {
  background: #010018;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
/* Donati*/
/*to top*/

.bgDonati {
  background-color: black;
}
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
/*navbar*/
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 50px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar__item {
  height: 80px;
}
.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 4rem;
  height: 100%;
}

.navbar__links:hover {
  color: rgb(255, 0, 34);
  transition: all 0.3s ease;
}
.box {
  width: 500px;
}
.position {
  padding: 0 200px 0 200px;
  margin-top: 0;
}
.foto1 img {
  margin: 10px;
  padding: 0;
  width: 500px;
  height: 500px;
  border: 2px solid #000;
  border-radius: 30px;
}
.foto1 {
  transition: all 0.7s ease-in-out 0s;
}
.foto1:hover {
  transform: scale(1.05);
}
.foto1:hover {
  transform: scale(1.05);
}
.canvas {
  align-items: left;
}

hr {
  border: 1px solid #c50017;
}
.iframe-container {
  margin-left: 500px;
  width: 608px;
  height: 342px;
}

.review p {
  color: #c50017;
  margin: 40px 25px;
  display: flex;
  align-items: center;
  word-spacing: 2px;
  font-weight: 400;
  padding: 0;
}
.lista {
  color: white;
  margin: 10px 25px;
  font-weight: 400;
  padding: 5px;
}

.review h1 {
  text-align: center;
}
.review img {
  margin-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* dark mode*/
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 6em;
  right: 0.5em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: #1d1961;
  cursor: pointer;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}
.darkmode {
  background-color: #000;
}

.audio {
  margin-top: 270px;
  margin-left: 50px;
}
.audio button {
  background-color: rgb(233, 195, 195);
  border: none;
  color: #1d1961;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
/* Egzoni*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --heading: "Montserrat", sans-serif;
}
body {
  font-family: "Raleway", sans-serif;
}
.cmain {
  background-color: rgb(248, 245, 242);
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
  margin-top: 10px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
.banner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 30px 0;
  margin-top: 8px;
}
.banner-main-content {
  padding: 0 2rem;
  line-height: 1.5;
}

.hot-topic {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 12px;
  height: 300px;
}
.hot-topic img {
  height: 110%;
}

.hot-topic-content {
  position: absolute;
  bottom: 0;
  left: 20px;

  padding: 0px 20px;
  line-height: 1.3;
  color: #f3f3f3;
}
.hot-topic-contenti {
  position: absolute;
  bottom: 0;
  left: 20px;

  padding: 0px 20px;
  line-height: 1.7;
  color: #f3f3f3;
}
.hot-topic h1 {
  font-size: 22px;
  text-shadow: 0 0 2px #000;
}
.hot-topic h2 {
  font-size: 15px;
  text-shadow: 0 0 2px #000;
}
.hot-topic h3 {
  padding: 10px 0;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}
.hot-topic p {
  padding: 10px 0;
  font-size: 15px;
  text-shadow: 0 0 2px #000;
  padding: 12px 10px;
}
.hot-topic-content a {
  display: block;
  background: #f3f3f3;
  border: none;
  width: 95px;
  border-radius: 2px;
  text-align: center;
  padding: 7px 10px;
  font-size: 14px;
  margin: 10px 0 10px 10px;
}
.hot-topic-content a:hover {
  text-decoration: underline;
}
.hot-topic-contenti a {
  display: block;
  background: #f3f3f3;
  border: none;
  width: 95px;
  border-radius: 2px;
  text-align: center;
  padding: 7px 10px;
  font-size: 14px;
  margin: 10px 0 10px 10px;
}
.hot-topic-contenti a:hover {
  text-decoration: underline;
}
@media (max-width: 460px) {
  .hot-topic-content h2 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .banner-sub-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .banner {
    grid-template-columns: 1fr 2fr;
  }
}

.photos img {
  margin: 40px;
  width: 500px;
  height: 620px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 80px;
}
.box .tekst {
  color: rgb(255, 255, 255);
  position: relative;
  left: 100px;
  top: 180px;
  text-decoration: none;
}
.xob {
  width: 350;
  display: flex;
  flex-direction: row;
}
.photsos img {
  margin: 10px;
  padding: 0;
  width: 350px;
  height: 250px;
}

.photsos {
  transition: all 0.7s ease-in-out 0s;
}
.photsos:hover {
  transform: scale(1.1);
}

.xob .nesto h2 {
  position: relative;
  left: 270px;
  top: 50px;

  text-decoration: none;
  color: rgb(255, 1, 1);
}
.xob .nesto h3 {
  position: relative;
  left: 80px;
  top: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.xob .nesto h5 {
  width: 500px;

  position: relative;
  top: 100px;
  left: 80px;
  font-size: 12px;
  line-height: 1.55;
  color: rgb(0, 0, 0);
}

.contact-section {
  background: url(fotot/id.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1 {
  text-align: center;
  color: #ddd;
}
.border {
  width: 100px;
  height: 10px;
  background: #030003;
  margin: 40px auto;
}
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #640d0f;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

text.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: #200202;
  color: #ddd;
  padding: 12px 50px;
  border-radius: 20px;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #200202;
}

.row .ktogjasht {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

.nesto {
  color: rgb(49, 34, 34);
}
.class {
  text-decoration: none;
}

.artikuj h3 {
  color: rgb(255, 251, 242);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 10px 15px 20px;
  text-transform: uppercase;
  background: #000;
  border-left: 5px solid red;
  text-align: center;
}

.hju.xob {
  padding: 150px;
}
.tonat {
  padding: 0 200px 0 200px;
  margin-bottom: 10%;
  margin-top: 10%;
}
.artikuj {
  padding: 0 40px 20px 40px;

  margin: 60px;
}

#footer {
  background-image: linear-gradient(to left, #27292c, rgb(30, 38, 48), #3a2828);
  height: auto;
  width: 100%;
  padding-top: 30px;
  color: rgb(173, 148, 148);
  transition: all 3s ease;
  position: relative;
  z-index: 10;
}

#footer:hover {
  background-image: linear-gradient(to left, #b44a4a, #141516, #965c5c);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.social-icon {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
}
.brand {
  padding: 40px;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
}
.graf {
  color: rgb(20, 16, 16);
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
.pjest img {
  width: 4%;
  margin-left: 5%;
}
.pjest {
  margin-left: 14%;
}
.aha img {
  width: 4%;
  margin-left: 5%;
}
.aha {
  margin-left: 14%;
}
.aha p {
  width: 15%;
  color: #000;
}
.pjest p {
  width: 15%;
  color: #000;
}
.egzoni {
  margin: 0;
  padding: 0;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #40d3dc;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}
.graphics {
  color: rgb(255, 251, 242);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 10px 15px 20px;
  text-transform: uppercase;
  background: rgb(255, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  text-align: center;
}

.hide {
  display: none;
  border-style: solid;
}
.flej {
  padding: 0;
  margin: 10px;

  text-align: center;
}
.buton {
  padding: 10px;
  font-weight: bold;
  background-color: #eee;
  color: #000;
}
#image {
  width: 400px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.drag-drop {
  background: rgb(180, 169, 169);
  padding: 25px;
  max-width: 460px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.drag-drop .d-d {
  border-radius: 2.5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  color: #fff;
  display: flex;
  padding: 12px 17px;
  background: #304b5f;
}
.drag-drop .d-d:last-child {
  margin-bottom: 0px;
}
.drag-drop .d-d .text {
  font-size: 18px;
  font-weight: 400;
}
.drag-drop .d-d i {
  cursor: pointer;

  font-size: 18px;
}
.shnosh {
  margin-left: 50px;
  margin-top: 50px;
}
.shnosh {
  display: flex;
  margin-top: 330px;
}
.shnosh-tekst {
  margin-left: 90px;
  margin-top: 120px;
}

/*Elona */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* hero style */

.hero {
  /* background: url("./fotot/bg-night.jpg") center no-repeat; */
  background-size: cover;
  z-index: -2;
}

.hero:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 1px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 2;
}

.main-text {
  padding-top: 60px;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.hero-text {
  width: 70%;
  margin-top: 40px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.hero-text h1 {
  font-size: 60px;
  color: #ddd;
  text-align: center;
}

.hero-text h4 {
  margin-top: 40px;
  font-size: 24px;
  color: #ddd;
  text-align: center;
}

.hero-text h4 a {
  color: rgba(255, 0, 34, 1);
}

.hero-text h4 a:hover {
  text-decoration: underline;
}

.services-container {
  position: relative;
  padding: 60px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
}

.services-container h4 {
  font-size: 28px;
  color: #ddd;
  text-align: center;
}

.services-card {
  width: 40%;
  background-color: rgba(255, 0, 34, 0.2);
  margin: 10px;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
}

.services-card img {
  margin-top: 40px;
  width: 100px;
}

#description1 {
  text-align: center;
  display: none;
}
#description2 {
  text-align: center;
  display: none;
}

/* about us style */
.about-us {
  padding: 40px 0;
  background-color: #000;
}

.about-us h1,
.about-us h3,
.about-us p {
  color: #ddd;
  margin-top: 20px;
}

.about-us p {
  font-size: 16px;
  opacity: 0.8;
}
.about-us h6 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding-bottom: 60px;
}

.about-card {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 45%;
}

.about-card ul li {
  color: #ddd;
}

.about-list {
  padding-left: 20px;
}

.about-sublist {
  padding-left: 20px;
}

.about-card img {
  width: 20%;
  object-fit: contain;
}

/* team section style */
.team-section {
  padding: 40px 0;
  background-color: #000;
}
.team-body h1 {
  color: #ddd;
}

.team-body h6 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.team-members {
  padding: 60px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.team-member {
  display: flex;
  flex-direction: column;
  width: 24%;
  background-image: url("./fotot/member-bg.svg");
  background-size: 100% 100%;
  padding: 10px;
}

.team-member img {
  padding: 20px;
  align-self: center;
  width: 90%;
  object-fit: contain;
  border-radius: 100%;
}

.team-member h1 {
  font-size: 18px;
}

.team-member h6 {
  margin: 10px 0 0px 15px;
}

.team-member p {
  color: #ddd;
  font-size: 14px;
  margin: 4px 0 10px 15px;
}

#italic {
  font-style: italic;
}

/* About us section style */
.contact-section {
  background: url(fotot/bg1.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
  position: relative;
}

.contact-section:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.contact-section h1,
h6,
h5,
label {
  color: #ddd;
}

.contact-form h5 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}

label {
  margin-left: 10px;
}

#game2,
#game3,
#game4 {
  margin-left: 30px;
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
}

.gender {
  margin-bottom: 10px;
}

.about-body {
  position: relative;
  z-index: 2;
}

.about-title h6 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.form-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
}

.form-card {
  padding: 30px;
  height: auto;
  width: 30%;
  background-color: rgba(255, 0, 34, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-card h3 {
  color: #ddd;
  font-size: 20px;
  font-weight: 500;
}

.form-card p {
  margin-top: 20px;
  color: #ddd;
  font-weight: 500;
}

.info {
  margin-top: 40px;
}

.info p {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.info p:last-child {
  margin-bottom: 0;
}

.info p img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.contact-form {
  width: 65%;
  padding: 0 10px;
}
.checkbox {
  margin-top: 30px;
}
.user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.user-info input {
  width: 48%;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 5px 0;
  border: 0;
  border: 2px solid #ddd;
  background-color: transparent;
  padding: 15px 20px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

#error-message {
  color: #ddd;
  font-size: 12px;
  position: absolute;
  bottom: -12px;
}

#email-error {
  color: #ddd;
  font-size: 12px;
  position: absolute;
  bottom: -12px;
  right: 134px;
}
.contact-form-text:focus {
  border: 2px solid #640d0f;
}

::placeholder {
  color: #ddd;
}

textarea {
  height: 100px;
  font-family: "montserrat";
}

text.contact-form-text {
  resize: none;
}
.contact-form-btn {
  border: 0;
  background: #640d0f;
  color: #ddd;
  padding: 12px 30px;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 5px;
}

.contact-form-btn:hover {
  opacity: 0.8;
}

/* location section style */

.location {
  background-color: #131313;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.location h1 {
  color: #ddd;
}

.find-us img {
  margin-top: 30px;
  width: 100px;
}

.find-us h3,
.find-us p {
  margin-top: 5px;
  color: #ddd;
}

.theMap {
  margin: 40px 0;
  border-radius: 10px;
  height: auto;
  overflow: hidden;
  border: 4px solid #640d0f;
}

iframe {
  border-radius: 8px;
}

/* footer style Elona */
#grupi {
  color: #ddd;
  font-weight: 600;
  font-size: 18px;
}

.graf {
  padding-bottom: 40px;
}

#grupi p,
.graf p {
  font-weight: 400;
  font-size: 16px;
  color: #ddd;
  margin-top: 5px;
}

@media screen and (max-width: 1023px) {
  .team-members {
    flex-wrap: wrap;
  }
  .team-member {
    width: 45%;
    margin-top: 40px;
  }

  .form-card {
    width: 40%;
    padding: 15px;
  }
  .form-card h3 {
    margin-top: 0px;
  }
  .form-card p {
    margin-top: 10px;
  }
  .info p {
    margin: 8px 0;
  }
  .contact-form {
    width: 58%;
  }
}
@media screen and (max-width: 767px) {
  .about-content {
    margin-top: 40px;
    flex-direction: column;
  }
  .about-card {
    width: 100%;
    margin: 20px 0;
  }
  .team-members {
    justify-content: center;
  }
  .team-member {
    width: 90%;
    margin-top: 40px;
  }
  .form-body {
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
  }
  .form-card {
    width: 100%;
  }
  .contact-form-text {
    padding-left: 10px;
  }
}
/*Blendi*/

/* arapey-regular - latin */
@font-face {
  font-family: "Arapey";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  src: url("../fonts/arapey-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/arapey-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/arapey-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/arapey-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/arapey-v9-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/arapey-v9-latin-regular.svg#Arapey") format("svg"); /* Legacy iOS */
}
.bodybg {
  background: url(images/6.png) center;
  background-size: cover;
}
.rankingtable {
  border-collapse: collapse;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  min-width: 80.65%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-spacing: 0;
  outline: 1px solid white;
  outline-offset: 0px;
}
.rankingtable thead tr {
  background-color: #254083;

  text-align: left;
  font-weight: bold;
}
.rankingtable th,
.rankingtable td {
  padding: 1.08% 1.35%;
  color: white;
  font-family: "Arapey";
  font-size: 19px;
}
.rankingtable tbody tr {
  border-bottom: 1px solid #dddddd;
}
.rankingtable tbody tr:nth-of-type(odd) {
  background-color: #283658;
}
.rankingtable tbody tr:nth-of-type(even) {
  background-color: #7c8fbd;
}
.rankingtable tbody tr:last-of-type {
  border-bottom: 2px solid #ffffff;
}
.cmain1 {
  background-color: #00000098;
  margin-left: 9.15%;
  margin-right: 9.15%;
  padding-top: 50px;
  margin-top: 15px;
  box-shadow: 1px 2px 10px 10px;
}
.maindiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div .box1 {
  padding: 0;
}
.box1 {
  position: relative;
  width: 250px;
  height: 380px;
  perspective: 1000px;
  transition: all 0.5s ease-in-out 0.5s;
  margin: 50px;
}
.box1:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px 5px solid #000;
}
.box1 .box1-img {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}
.box1:hover .box1-img {
  transform: rotateY(-90deg);
}
.box1 .box1-img img {
  width: 250px;
  height: 380px;
  border: 2px solid #000;
  border-radius: 10px;
}
.box1 .content {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}
.box1:hover .content {
  transform: rotateY(0);
}
.box1 .content p {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
  margin: 0 25px;
}
.box1 .butoni {
  background: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 260px 50px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}
.box1:hover .butoni {
  transform: rotateY(0);
}
.box1 .butoni li {
  list-style: none;
}
.box1 .butoni li a {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px 10px;
  background: #ffa500;
  border-radius: 50px;
}
.box1 .butoni li a:hover {
  background: #ff7300;
}
.resizec {
  margin-left: 5px;
  border: 1px solid;
  padding: 20px;
  width: 98%;
  resize: both;
  overflow: auto;
}
.shtyllatd {
  column-count: 2;
  column-gap: 40px;
}
